body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
}

button {
    padding: 10px 20px;
    margin: 20px;
    cursor: pointer;
}

#dogImageResults {
    margin-top: 30px;
}
